
html{
	height: 100%;
	background: transparent url(../images/background-image.jpg) no-repeat center center fixed;
	background-size: cover;
}

body{

	font: normal .80em arial, sans-serif;
  	color: #fff;
    margin-top: 0;
	min-height: 100%;
	font: normal .80em arial, sans-serif;
  	color: #fff;
  	height: 1300px;
  	width: 100%;
}
.main{
	margin-top: 0;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	
}
.header{
	width: 100%;
}
.site_content{
	width: 80%;
  	overflow: hidden;
  	padding-top: 1em;
	margin-left: auto;
	margin-right: auto;
}
.site_heading {
	height: 0.0615%;
	width: auto;
	padding-left: 6.5em; 	
	margin-left: auto;
	margin-right: auto;

}
.site_heading h1{
	width: 100%;
 	font: normal 230% arial, sans-serif;
  	color: #FFF;
  	text-shadow: 1px 1px #1d1d1d;
  	letter-spacing: -2px;
}
.site_heading h2{
	width: 100%;
  	font: normal 170% arial, sans-serif;
  	color: #FFF;
  	text-shadow: 1px 1px #1d1d1d;
  	letter-spacing: -1px;
}
.menubar{
  	width: 100%;
  	height: auto;
  	text-align: center; 
  	margin: 0 auto;
  	background: #3a3c3f;
  	border: 2px solid #000;
  	background: -webkit-linear-gradient(#7d8491, #1D1D1D);/*Vidi jos neke pocetne boje*/
  	border-radius: 15px 15px 0px 0px; /*Zaobljeni vrhovi*/


}

.menu{
	list-style-type: none;

}
.menu li{
	display: inline;
	font-size: 125%;
	letter-spacing: -1px;
	height: 35px;
	padding: 15px 20px 0 20px;
	text-align: center;
	color: #FFF;
	text-shadow: 1px 1px #1d1d1d;
	text-decoration: none;
	background: transparent
}
.menu li a{
	font-size: 125%;
	letter-spacing: -1px;
	height: 35px;
	padding: 15px 20px 0 20px;
	text-align: center;
	color: #FFF;
	text-shadow: 1px 1px #1d1d1d;
	text-decoration: none;
	background: transparent
}


.menu li:hover{
	text-decoration: underline;
}
img{ 
	border: 0;
}
.banner_img{
	width: 100%;
	max-width: 99.5%;
	display: block;
	margin-left: auto;
	position: relative;
	margin-right: auto;
	max-height: 500px;
	height:25%;
}
.hamo img{
	width: 100%;
	max-width: 99.5%;
	display: block;
	margin-left: auto;
	position: relative;
	margin-right: auto;
	max-height: 500px;
	height:100%;
}
#slide img{
	height: 25%;
}

#left_arrow.banner_img {
	height: 100%;
	width: 15%;
	position: absolute;
	left: 0px;
	top: 0px;
}
#right_arrow.banner_img{
	height: 100%;
	width: 15%;
	position: absolute;
	left: 0px;
	top: 0px;

}
.left{
	max-height: 50px;
	max-width: 50px;
	height:  100%;
	width: 100%;
	position: absolute;
	top: 38%;
	left: 0px;
}

.right{
	max-height: 50px;
	max-width: 50px;
	height:  100%;
	width: 100%;
	position: absolute;
	top: 38%;
	right: 0px;

}
/*
#about_banner.banner_img img{
	height: auto; 
    width: 960px;
    max-height: 430px;
}/*
.slide{ 	
	width: 100%;
	height:25%;
}*/
.event{
	text-align: left;
	width: 100%;
	/*max-width: 600px;*/
	margin-top: 10px;
	padding: 20px 20px 0 60px;
	float: left;
}
.event_image { 
	width: auto;
	height: auto;
	margin-top: 20px;
	float: left;
	border: 1px solid #111111;
}

.event_image img{
	width: 240px;
	height: 240px;
}
.main_info{
	text-align: center;
	padding: 50px 0 0 50px;
}

.main_info p{
	line-height: 30%;
	 font: bold 110% arial, sans-serif;
}
.row{
	padding: 10px;
	width:100%;
	float:left;
	min-height: 1px;
}
.column{
	margin-left: 2%;
	margin-right: 2%;
	display: inline-block;
	float: left;
}

.column:first-child{
	margin-left: 0px;
}

.column:last-child{
	margin-right: 0px;
}
.column.four{
	width: 100%;
}
.column.three{
	width: 74%;
}
.column.two{
	width: 48%;
}
.column.one{
	width: 22%;
}
.footer{
  	width: 80%;
  	height: 35px;
  	text-align: center; 
  	margin: 0 auto;
  	background: #3a3c3f;
  	border: 2px solid #000;
  	background: -webkit-linear-gradient(#1D1D1D, #7d8491);/*Vidi jos neke pocetne boje*/
  	border-radius: 0px 0px 15px 15px; /*Zaobljeni vrhovi*/
  	margin-left: auto; 
    margin-right: auto;
}
.footer a{
	font-size: 125%;
	letter-spacing: -1px;
	height: 50px;
	padding: 15px 20px 0 20px;
	text-align: center;
	color: #FFF;
	text-shadow: 1px 1px #1d1d1d;
	text-decoration: none;
	background: transparent
}

.footer li a:hover{
	text-decoration: underline;
}

.contactForm{
	text-align: left;
	width: 710px;
	margin-top: 10px;
	padding: 20px 20px 0 0;
	float: left;
	margin-left: auto; 
  	margin-right: auto;
}
